| Price | Note    |
|-------|---------|
{%+ if price_guide %}
| :fontawesome-solid-dollar-sign: ${{ price_guide["low_bracket"] }} | _Low bracket_ |
| :heavy_dollar_sign: ${{ price_guide["average"] }} | _Average bracket_ |
| :heavy_dollar_sign: ${{ price_guide["high_bracket"] }} | _High bracket_ |
{%+ endif -%}
