# {% if collection.value == "Wanna" %}:heart_eyes: {% endif %}
{% if collection.value == "No" %}:no_entry: {% endif %}
{% if collection.value == "Owned" %}:octicons-check-circle-fill-12: {% endif %}
{% if edition.value == "Limited" %}:hourglass_flowing_sand: {% endif %}
{{ name }}
