![image]({{image}}){ align=right width="200" }

* **Page**: [{{ name }}]({{ url }})
* **Location**: {{ location }}
{% if model %}
* **Model Page**: {% if model["collection"].value == "Wanna" %}:heart_eyes: {% endif %}
{% if model["collection"].value == "No" %}:no_entry: {% endif %}
{% if model["collection"].value == "Owned" %}:octicons-check-circle-fill-12: {% endif %}
{% if model["edition"].value == "Limited" %}:hourglass_flowing_sand: {% endif %}
[{{ model["name"] }}](../../Models/{{ model["slug"] }}.md)
{% endif %}
