| Price | Shipping  | Total | Note    |
|-------|-----------|-------|---------|
{%+ if previous_price %}
| :fontawesome-solid-comments-dollar: {--${{ previous_price }}--} | {--${{shipping_price}}--} | {--${{ previous_price + shipping_price }}--} | |
{%+ endif %}
| :fontawesome-solid-comments-dollar: ${{ price  }} | ${{ shipping_price }} | ${{ price + shipping_price }} | |
{%+ if model and model.get("price_guide", None) %}
| :fontawesome-solid-dollar-sign: _${{ model["price_guide"]["low_bracket"] }}_ | _${{ shipping_price }}_ | _${{ model["price_guide"]["low_bracket"] + shipping_price }}_ | _Low bracket_ |
| :heavy_dollar_sign: _${{ model["price_guide"]["high_bracket"] }}_ | _${{ shipping_price }}_ | _${{ model["price_guide"]["high_bracket"] + shipping_price }}_ | _High bracket_ |
{%+ endif %}
