# {% if accept_offers %}:accept: {% endif %}{% if previous_price %}:arrow_down_small: {% endif %}{% if model and model["price_guide"] and model["price_guide"]["high_bracket"] > price %}:hot_pepper: {% endif %}{{ name }}
